.inputForm {
    overflow:auto;
}

.inputError {
    border-color: red !important;
    border: 1px solid red !important;
    box-shadow: none;
}

.ulErrorMsg {
    list-style:none;
    width: 95%;
}

.hide {display:none;}
